<#@ template language="C#" hostspecific="false" linePragmas="false" #>
<#@ parameter name="ClassName" type="System.String"#>
<#@ parameter name="Namespace" type="System.String"#>
<#@ parameter name="Extends" type="System.String"#>
<#@ parameter name="BaseNamespace" type="System.String"#>
using <#= BaseNamespace #>;

namespace <#= Namespace #> 
{
    public class <#= ClassName #> : <#= Extends #>
    {

    }
}

