<#@ import namespace="UMVC.Core.Components" #>
<#@ parameter type="System.Collections.Generic.List<UMVC.Core.Components.ClassField>" name="Fields" #>
<#@ include file="BaseParameters.ttinclude"#>
using System;
using <#= BaseNamespace #>;

namespace <#= Namespace #> 
{
    [Serializable]
    public class <#= ClassName #> : <#= Extends #>
    {
<# foreach (var field in Fields)
{ #>
        public <#= field.FieldType.ToString() #> <#= field.FieldName #>;
<# } #>
    }
}