<#@ template language="C#" hostspecific="false" linePragmas="false" #>
<#@ parameter name="ClassName" type="System.String"#>
<#@ parameter name="Namespace" type="System.String"#>
<#@ parameter name="Model" type="System.String"#>
<#@ parameter name="Controller" type="System.String"#>
using UMVC.Core.MVC;

namespace <#= Namespace #> 
{
    public class <#= ClassName #> : BaseView<<#= Model #>, <#= Controller #>>
    {

    }
}