<#@ include file="BaseParameters.ttinclude"#>
<#@ parameter name="Controller" type="System.String"#>
using <#= BaseNamespace #>;

namespace <#= Namespace #> 
{
    public class <#= ClassName #> : <#= Extends #><<#= Model #>, <#= Controller #>>
    {

    }
}