<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ parameter type="System.String" name="Namespace" #>
<#@ parameter type="System.String" name="Class" #>

namespace <#= Namespace #> 
{
    public abstract class <#= Class #> {

    }
}