<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ parameter type="System.String" name="Namespace { get; }" #>
<#@ parameter type="System.String" name="Class { get; }" #>

namespace <#= Namespace #> 
{
    public abstract class <#= Class #> {

    }
}