<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ parameter type="System.String" name="Namespace" #>
<#@ parameter type="System.String" name="Class" #>
<#@ parameter type="System.String" name="Extends" #>

namespace <#= Namespace #> 
{
    public class <#= Class #> : <#= Extends #> {

    }
}