<#@ template debug="false" language="C#" #>
<#@ output extension=".cs" #>
<#
    _m_ClassNameField = "UnityLayers";
    _m_UnityLayersField = new string[]
    {
        "Water",
        "Air",
        "Sea",
        "Wall",
        "Enemies"
    };

#>
<#@ include file="$(ProjectDir)\Templates\LayersGenerator.tt"#>