﻿<#@ template debug="false" language="C#" #>
<#@ output extension=".cs" #>
<#
    _ClassNameField = "Model";
    _NamespaceField = "MyNamespace";
    _ExtendsField = "BaseModel";
    _BaseNamespaceField = "UMVC.Core.MVC";
#>
<#@ include file="$(ProjectDir)\..\Templates\ModelTemplate.tt"#>