﻿<#@ template debug="false" language="C#" #>
<#@ output extension=".cs" #>
<#
    _ClassNameField = "TestView";
    _NamespaceField = "MyNamespace";
    _ModelField = "Model";
    _ControllerField = "TestController";
    _ExtendsField = "BaseView";
#>
<#@ include file="$(ProjectDir)\..\Templates\ViewTemplate.tt"#>